@media only screen and (min-device-width: 5px) and (max-device-width: 512px) {
  :root {
    --background: #f5e8c7;
    --text: black;
    --font: Convergence, sans-serif;
  }
  * {
    border: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--background);
    color: var(--text);
  }
  main {
    padding: 2%;
  }
  #sectionForNavBarMenu nav {
    position: fixed;
  }

  a,
  ul li {
    text-decoration: none;
    list-style: none;
    color: var(--text);
    padding-bottom: 45%;
  }

  #photoHomePage {
    width: 40%;
    border-radius: 100%;
  }

  .openbtn {
    position: fixed;
    color: white;
    padding: 10px 15px;
    border: none;
    background-color: Transparent;
    top: 0;
    left: 0;
  }

  #TitleHomePage {
    padding-top: 60px;
    width: 50%;
  }
  .sidebar ul li {
    color: white;
  }
  #closebtn {
    padding-left: 20px;
    font-size: 63px;
  }
  .sidebar {
    font-size: 31px;
    padding: 10px 5px;
    border: none;
    height: 100%;
    width: 485px;
    position: fixed;
    top: -51px;
    left: 0;
    overflow-x: hidden;
    display: none;
    padding-top: 60px;
    transition: 0.5s;
    font-family: var(--font);
  }
  nav .sidebar {
    width: 44%;
    height: 726px;
    background-color: yellow;
    animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  @keyframes scale-up-hor-left {
    0% {
      transform: scaleX(0.4);
      transform-origin: 0% 0%;
    }
    100% {
      transform: scaleX(1);
      transform-origin: 0% 0%;
    }
  }

  #projectSection {
    width: 95%;
  }

  .imgProject {
    width: 80%;
  }
  #sectionFooter {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    padding-top: 2%;
    padding-right: 2%;
    align-items: center;
  }
  .imgFooterContact {
    width: 54px;
  }
}
