:root {
  --background: #2f2f2f;
}

@media only screen and (min-device-width: 5px) and (max-device-width: 512px) {
  * {
    border: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--background);
    color: white;
  }

  #sectionForNavBarMenu nav {
    position: fixed;
  }

  a,
  ul li {
    text-decoration: none;
    list-style: none;
  }

  #photoHomePage {
    width: 40%;
  }

  .openbtn {
    position: fixed;
    color: white;
    padding: 10px 15px;
    border: none;
    background-color: Transparent;
    top: 0;
    left: 0;
  }

  #TitleHomePage {
    padding-top: 60px;
  }
  .sidebar ul li {
    color: white;
  }
  #closebtn {
    padding-left: 20px;
    font-size: 63px;
  }
  .sidebar {
    font-size: 45px;
    padding: 10px 5px;
    border: none;
    height: 100%;
    width: 485px;
    position: fixed;
    top: -51px;
    left: 0;
    overflow-x: hidden;
    display: none;
    padding-top: 60px;
    transition: 0.5s;
  }
  nav .sidebar {
    width: 44%;
    height: 100%;
    background-color: yellow;
  }
  #projectSection {
    width: 95%;
  }

  .imgProject {
    width: 80%;
  }
  #sectionFooter {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    padding-top: 2%;
    padding-right: 2%;
    align-items: center;
  }
  .imgFooterContact {
    width: 54px;
  }
}
