@media only screen and (min-width: 1039px) and (max-device-width: 2000px) {
  * {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffff;
  }
  body {
    background-color: #2f2f2f;
  }
  a {
    text-decoration: none;
  }
  ul {
    background-color: #1d1c1ce5;
  }
  nav ul,
  li {
    top: 0;
    width: 100%;
    padding: 5px;
    font-size: 30px;
    color: white;
    font-family: "Convergence", sans-serif;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  ul li {
    animation: show-in-first 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  @keyframes show-in-first {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
  #navbarMenu {
    position: fixed;
  }
  #responsiveMenu {
    display: none;
  }
  main {
    margin-top: 57px;
  }
  #homePageMain {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  /* #homePage {
    display: flex;
    justify-content: space-evenly;
  } */
  #photoHomePage {
    margin-top: 8%;
    margin-left: 61%;
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }

  #sectionFooter {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .imgFooterContact {
    height: 50px;
    width: auto;
  }
  #projectsArticle {
    flex-wrap: wrap;
    align-content: space-around;
  }
  section .imgCategory {
    width: 15px;
    height: auto;
  }
}
