:root {
  --background: #2f2f2f;
}

@media only screen and (min-device-width: 5px) and (max-device-width: 512px) {
  * {
    border: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--background);
    width: 100%;
    height: 100vh;
    color: white;
  }

  #sectionForNavBarMenu nav {
    position: fixed;
  }
  a {
    text-decoration: none;
  }

  .sidebar {
    font-size: 17px;
    font-size: 100px;
    padding: 10px 15px;
    border: none;
    width: 450px;
  }

  .openbtn {
    position: sticky;
    font-size: 300px;
    background-color: var(--background);
    color: white;
    padding: 10px 15px;
    border: none;
    background-color: yellow;
  }
  .sidebar ul li {
    color: white;
    background-color: greenyellow;
  }
  #navbarMenu {
    background-color: violet;
  }
  /* .sidebar {
    height: 100%;
    width: 0; 
    position: fixed; לשים את זה בסגירה  */
  /* top: 0;
    left: 0;
    background-color: var(--background);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
 */
  /* } */

  /* .sidebar a {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  } */

  /* .sidebar #closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  } */
  /* #closebtn {
    display: none;
    font-size: 300px;
    width: 100%;
  } */

  /* @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 15px;
    }
    .sidebar a {
      font-size: 18px;
    }
  }

  #sectionForNavBarMenu {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
  }
  #sectionForNavBarMenu nav ul li {
    color: white;
    list-style: none;
  } */

  /* #TitleHomePage {
    color: white;
  }
  #photoHomePage {
    border-radius: 50%;
  } */
}
