@media only screen and (min-width: 1014px) and (max-device-width: 2000px) {
  * {
    border: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    color: black;
    background-color: #2f2f2f3d;
  }
  a {
    text-decoration: none;
  }
  ul {
    background-color: #1d1c1ce5;
  }
  #mySidebar {
    display: none;
  }
  nav ul,
  li {
    top: 0;
    width: 100%;
    padding: 5px;
    font-size: 30px;
    color: white;
    font-family: "Convergence", sans-serif;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  ul li {
    animation: show-in-first 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  #TitleHomePage {
    margin-left: 1%;
    font-size: 44px;
    z-index: -1;
  }
  @keyframes show-in-first {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
  #navbarMenu {
    position: fixed;
  }
  #responsiveMenu {
    display: none;
  }
  main {
    margin-top: 4%;
    margin-left: 1%;
  }
  #homePageMain {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  #aboutMe {
    margin-top: 15%;
    margin-bottom: 20%;
    margin-left: 5%;
    width: 64%;
  }
  #photoHomePage {
    z-index: -1;
    margin-top: 5%;
    margin-left: 72%;
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }

  #sectionFooter {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .imgFooterContact {
    height: 50px;
    width: auto;
  }
  #projectsArticle {
    flex-wrap: wrap;
    align-content: space-around;
  }
  section .imgCategory {
    width: 15px;
    height: auto;
  }
  #projectsArticle {
    margin-left: 10%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-column-gap: 2%;
  }
  #projectsArticle article {
    width: 100%;
    position: relative;
    z-index: -2;
  }
  #projectsArticle article img {
    width: 75%;
  }
  #projectsArticle article p {
    overflow-wrap: break-word;
    width: 75%;
  }
}
